@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

a:focus {
  outline: 1px solid $color-black;
}

.blue-color {
  color: $color-primary-normal;
}

.h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  @include respond("m") {
    font-size: 32px;
    line-height: 48px;
  }
  @include respond("xs") {
    font-size: 32px;
    line-height: 48px;
  }
}

.h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  @include respond("m") {
    font-size: 24px;
    line-height: 36px;
  }
  @include respond("xs") {
    font-size: 24px;
    line-height: 36px;
  }
}

.h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  @include respond("m") {
    font-size: 20px;
    line-height: 32px;
  }
  @include respond("xs") {
    font-size: 20px;
    line-height: 32px;
  }
}

.p {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  @include respond("m") {
    font-size: 16px;
    line-height: 24px;
  }
  @include respond("xs") {
    font-size: 16px;
    line-height: 24px;
  }
}
