.btn {
  display: block;
  padding: 12px 24px;
  border-radius: 2px;
  text-decoration: none;
  font-weight: 700;

  &:focus{
    outline: 1px solid $color-black;
  }

  &--primary {
    background: $color-primary-normal;
    border: 1px solid $color-primary-normal;
    color: #FFFFFF;

    &:hover {
      background: $color-primary-hover;
      border: 1px solid $color-primary-hover;
    }

    &:disabled {
      background: $color-primary-disabled;
      border: 1px solid $color-primary-disabled;
      color: #5F5F5C;
    }
  }

  &--secondary {
    background: transparent;
    border: 1px solid $color-white;
    color: #FFFFFF;

    &:hover {
        background: $color-secondary-hover;
        border: 1px solid $color-secondary-hover;
        color: #FFFFFF;
      }
  
      &:disabled {
        background: $color-secondary-disabled;
        border: 1px solid $color-secondary-disabled;
        color: rgba(255, 255, 255, 0.4);
      }
  }

  @include respond("m") {
    padding: 10px 20px;
  }
  @include respond("xs") {
    padding: 8px 12px;
  }
}
